<div class="modal fade" id="export" tabindex="-1" role="dialog"
     aria-labelledby="Export">
    <div class="modal-dialog modal-lg" role="document" style="width: 20%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Export Znodes from <span ng-bind="exportCtrl.getNodeName()"></span></h4>
            </div>
            <div class="modal-body" align="center">
                <a class="btn btn-default" href="{{exportCtrl.getExportLink('json')}}" target="_blank">Export as json</a>
                <a class="btn btn-default" href="{{exportCtrl.getExportLink('xml')}}" target="_blank">Export as xml</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>